{% macro click_wrapper(eventName="UIClick") -%}
<div
  class="event-wrapper click-wrapper"
  data-event-name="{{ eventName }}"
>
  {{ caller() }}
</div>
{%- endmacro %}

{% macro hover_wrapper(eventName="UIHover") -%}
<div
  class="event-wrapper hover-wrapper"
  data-event-name="{{ eventName }}"
>
  {{ caller() }}
</div>
{%- endmacro %}

{% macro leave_wrapper(eventName="UILeave") -%}
<div
  class="event-wrapper leave-wrapper"
  data-event-name="{{ eventName }}"
>
  {{ caller() }}
</div>
{%- endmacro %}
