{% extends "components/base.html" %}

{% block title %}
    ROS EEL Example
{% endblock %}

{% block content %}
{% from "components/common/wrapper.html" import hover_wrapper %}
<div class="container">
  <div class="component">
    <h1>ROS EEL Example</h1>
    <p>
      This is an example of using EEL with ROS. The following components
      are available:
    </p>
    <ul>
      <li><a href="#subs">ROS Subscribers</a></li>
      <li><a href="#pubs">ROS Publishers</a></li>
      <li><a href="#params">ROS Params</a></li>
      <li><a href="#tabs">Tabs</a></li>
      <li><a href="#description">Hover Description</a></li>
    </ul>
</div>
<div class="container">
  <div class="component">
    <a name="subs"><h2 name="">ROS Subscribers</h2></a>
    <h3>/eel_subtest/bool</h3>
    {% with name="/eel_subtest/bool" %}
      {% include "components/subscribers/Bool.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Bool.html") }}
    </code></pre>
    <h3>/eel_subtest/int32</h3>
    {% with name="/eel_subtest/int32" %}
      {% include "components/subscribers/Int32.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Int32.html") }}
    </code></pre>
    <h3>/eel_subtest/int64</h3>
    {% with name="/eel_subtest/int64" %}
      {% include "components/subscribers/Int64.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Int64.html") }}
    </code></pre>
    <h3>/eel_subtest/float32</h3>
    {% with name="/eel_subtest/float32" %}
      {% include "components/subscribers/Float32.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Float32.html") }}
    </code></pre>
    <h3>/eel_subtest/float64</h3>
    {% with name="/eel_subtest/float64" %}
      {% include "components/subscribers/Float64.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Float64.html") }}
    </code></pre>
    <h3>/eel_subtest/string</h3>
    {% with name="/eel_subtest/string" %}
      {% include "components/subscribers/String.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/String.html") }}
    </code></pre>
    <h3>/eel_subtest/transform</h3>
    {% with name="/eel_subtest/transform" %}
      {% include "components/subscribers/Transform.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Transform.html") }}
    <h3>/eel_subtest/pose</h3>
    {% with name="/eel_subtest/pose" %}
      {% include "components/subscribers/Pose.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Pose.html") }}
    </code></pre>
    <h3>/eel_subtest/image</h3>
    {% with name="/eel_subtest/image" %}
      {% include "components/subscribers/Image.html" %}
    {% endwith %}
    {{ include_code("components/subscribers/Image.html") }}
    </code></pre>
  </div>
</div>

<div class="container">
  <div class="component">
    <a name="pubs"><h2>ROS Publishers</h2></a>
    <h3>/eel_pubtest/bool</h3>
    {% with name="/eel_pubtest/bool", value=True, label="Publish Bool" %}
      {% include "components/publishers/Bool.html" %}
    {% endwith %}
    {{ include_code("components/publishers/Bool.html") }}
    <h3>/eel_pubtest/string</h3>
    {% with name="/eel_pubtest/string", value="test", label="Publish String" %}
      {% include "components/publishers/String.html" %}
    {% endwith %}
    {{ include_code("components/publishers/String.html") }}
    <h3>/eel_pubtest/int32</h3>
    {% with name="/eel_pubtest/int32", value=123, label="Publish Int32" %}
      {% include "components/publishers/Int32.html" %}
    {% endwith %}
    {{ include_code("components/publishers/Int32.html") }}
  </div>
</div>
<div class="container">
  <div clasS="component">
    <a name="params"><h2>ROS Params</h2></a>
    <div>
      <h3>/eel_paramtest/bool</h3>
      {% with name="/eel_paramtest/bool" %}
        {% include "components/params/Bool.html" %}
      {% endwith %}
      {{ include_code("components/params/Bool.html") }}
      <h3>/eel_paramtest/number</h3>
      {% with name="/eel_paramtest/number" %}
        {% include "components/params/Number.html" %}
      {% endwith %}
      {{ include_code("components/params/Number.html") }}
      <h3>/eel_paramtest/string</h3>
      {% with name="/eel_paramtest/string" %}
        {% include "components/params/String.html" %}
      {% endwith %}
      {{ include_code("components/params/String.html") }}
      <h3>/eel_paramtest/enum Radio</h3>
      {% with name="/eel_paramtest/enum", type="radio", map=[{"value": "1", "label": "ラベル1" }, {"value": "2", "label": "ラベル2"}] %}
        {% include "components/params/EnumRadio.html" %}
      {% endwith %}
      {{ include_code("components/params/EnumRadio.html") }}
      <h3>/eel_paramtest/enum Select</h3>
      {% with name="/eel_paramtest/enum", type="select", map=[{"value": "1", "label": "ラベル1" }, {"value": "2", "label": "ラベル2"}] %}
        {% include "components/params/EnumSelect.html" %}
      {% endwith %}
      {{ include_code("components/params/EnumSelect.html") }}
      <h3>/eel_paramtest/object Object</h3>
      {% with name="/eel_paramtest/object" %}
        {% include "components/params/Object.html" %}
      {% endwith %}
      {{ include_code("components/params/Object.html") }}
    </div>
  </div>
</div>
<div class="container">
  <div class="component">
    <a name="tabs"><h2>Tabs</h2></a>
    <nav>
      <ul>
        <li>
          <a onclick="openTab(event, 'tab1')">Tab 1</a>
        </li>
        <li>
          <a onclick="openTab(event, 'tab2')">Tab 2</a>
        </li>
        <li>
          <a onclick="openTab(event, 'tab3')">Tab 3</a>
        </li>
      </ul>
    </nav>
    </nav>
    <iframe id="tab1" src="/frame1.html" style="display: none"></iframe>
    <iframe id="tab2" src="/frame2.html" style="display: none"></iframe>
    <iframe id="tab3" src="/frame3.html" style="display: none"></iframe>
  </div>
</div>
<div class="container">
  <div class="component">
    <a name="description"><h2>Hover Description</h2></a>

    {% call hover_wrapper(eventName="UIDescription") %}
      <div data-row-id="/thresholding/method/fixed" data-csv-filename="description.csv" style="background-color: #d6d6ff; padding: 10px;">
        <p>固定二値化</p>
      </div>
    {% endcall %}
    {% call hover_wrapper(eventName="UIDescription") %}
      <div data-row-id="/thresholding/method/adaptive" data-csv-filename="description.csv" style="background-color: #e6e6ff; padding: 10px;">
        <p>適応二値化</p>
      </div>
    {% endcall %}
    {% call hover_wrapper(eventName="UIDescription") %}
      <div data-row-id="/thresholding/method/otsu" data-csv-filename="description.csv" style="background-color: #d6d6ff; padding: 10px;">
        <p>大津の二値化</p>
      </div>
    {% endcall %}
    {% include "components/common/description.html" %}
    {{ include_code("components/common/description.html") }}
  </div>
</div>
<script type="text/javascript">
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
{% endblock %}