{% extends "components/base.html" %}

{% block title %}
    ROS EEL Example
{% endblock %}

{% block content %}
{% from "components/common/wrapper.html" import hover_wrapper %}
<div class="container">
  <div class="component">
    <h1 class="dsp-48n-140">EEL Utilities</h1>
    <p>
      Utilities for EEL.
    </p>
    <ul>
      <li class="dns-16n-120"><a href="#filebrowser">File Browser</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="component">
    <a name="filebrowser"><h2>File Browser</h2></a>
    <p>
      File browser is a component that allows you to select a file from the file system.
    </p>
    {% with name="example-fb" %}
      {% include "components/eel-utils/filebrowser.html" %}
    {% endwith %}
    {{ include_code("components/eel-utils/filebrowser.html") }}
  </div>
</div>
{% endblock %}