<launch>
    <node name="load_params" pkg="eel-ros1" type="load_config.sh" args="eel-ros1" output="screen" />
    <node name="react_webserver" pkg="eel-ros1" type="reactdev.sh" output="screen" />
    <node name="eel_ros1" pkg="eel-ros1" type="react.py" args="--dev" output="screen" />
    <node name="eel_cache" pkg="eel-ros1" type="cache.py" output="screen" />
</launch>