<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}デフォルトタイトル{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <!-- 外部パッケージ群 start -->
    <script type="text/javascript" src="/static/zod.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <!-- 外部パッケージ群 end -->
    <script type="text/javascript" src="ros.js"></script>
    <script type="text/javascript" src="/bundle.umd.cjs"></script>
  </head>
  <body>
    {% include "components/header.html" %}
    {% block content %} {% endblock %}
  </body>
</html>
